//font

$ffMontserrat: 'Montserrat', sans-serif;
$ffSpectral: 'Spectral', serif;
$ffSpectralSC: 'Spectral SC', serif;

$white: #FFFFFF;
$darkgrey: #424242;
$lightgrey:#BDBDBD;
$darkrose: #976464;
$colorpopular: #5E5C5A;


$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs18: 18px;
$fs16: 16px;
$fs24: 24px;
$fs28: 28px;

//media

$container-width: 1620px;

// bg - colors

$rose: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
$grenn: linear-gradient(59.75deg, #C5C5A8 -2.61%, #E2E1CF 76.3%, #E2E1CF 76.3%);
$footergreen: linear-gradient(267.48deg, #ECECD5 56.22%, #D7D7B9 130.03%);
$grey: #E8E8E8;
$lightgreen: #D3D3B5;


//backgraund color item

$color1: #696837;
$color2: #81292F;
$color3: #D8C1AA;
$color4: #EED53A;
$color5: #B69882;
$color6: #CFBBAC;
$color7: #9D856B;
$color8: #EBD5BC;
$color9: #0395AF;
$color10: #F09482;
$color11: #E5D8CB;
$color12: #C51212;
$color13: #FC9257;
$color14: #1C1C1C;
$color15: #FCF7F4;
$color16: #FAF0E2;
$color17: #F24135;
$color18: #FAF9F6;
$color19:#EEAA56;
$color20:#A5C3B3;
$color21:#68171E;
$color22:#596479;
$color23:#EED737;
$color24:#6F6D3A;
$color25:#2C354E;
$color26:#D2AD94;
$color27:#8A8767;
$color28:#0C0C0B;















