//colors

$white: #FFFFFF;
$beige: #BDAE82;
$black: #000000;
$gold: #CCBA8D;
$black50: #000000;

//fonts

$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs28: 28px;
$fs32: 32px;
$fs40: 40px;
$fs60: 60px;

//font-family

$Merriweather: 'Merriweather', serif;
$Inter: 'Inter', sans-serif;

//container

